<div class="row">
<div class="col-md-4">
<%= form_for @role, :html => {:role =>'form'} do |f| %>


    <%= f.label :role_name %><br/>
    <%= f.hidden_field :user_id, value: @user.id %>

    <div class="input-group">
    <%= f.text_field :name , class: "form-control" %>



  <span class="input-group-btn">
    <%= f.submit 'Create Role', :class => "btn btn-default" %>
  </span>
  </div>
<% end %>
</div>
</div>
